 #menuFilme, #dialogFilme {
    color: white;
}

h3 {
    margin-bottom: 0px;
    margin-top: 5px;
}

p {
    color: #b8b8b8; margin-top: 0; font-size: 0.9rem;
    font-family: var(--joan);
    font-size: 1.05rem;
}

.videos {
    width: 95%;
    max-width: 1000px;
    max-height: 500px;
    border-radius: var(--borderRadius);
}

.width80 {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.shorts {
    width: 400px;
    height: 711px;
}
